<nav class="side-bar" ui-side-menu mb-scrollbar="scrollbarConfig">
	<a class="brand" href ui-sref="app.admin.dashboard" title="Debut UI Kit">
		<img src="assets/img/logo_dashboard.svg" alt="Debut UI Kit" class="large">
		<img src="assets/img/logo_dashboard_small.svg" alt="Debut UI Kit" class="small">
	</a>
	<ul class="nav-menu">
		<li data-state="close">
			<a href ui-sref="app.pos.dashboard" ui-sref-active="active" class="icon-monitor" genie-wish="Home / Dashboard"><span>Home</span></a>
		</li>
		<li data-state="close">
			<a href ui-sref="app.pos.payment" ui-sref-active="active" class="icon-monitor" genie-wish="Home / Dashboard"><span>Payment</span></a>
		</li>
		<li data-state="close">
			<a href ui-sref="app.pos.activebill.create" ui-sref-active="active" class="icon-monitor" genie-wish="Home / Dashboard"><span>Test Bill</span></a>
		</li>
	</ul>	
	<ul class="nav-menu">
		<li data-state="close">
			<a href ui-sref="app.admin.dashboard" ui-sref-active="active" class="icon-input-left" genie-wish="Home / Dashboard"><span>Logout</span></a>
		</li>
	</ul>	
</nav>