<div id="page-heading">
	<h3 class="page-title">Dashboard</3>
</div>

<section class="container-fluid">
	<div class="row">
		<div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
			<div class="indicator-alternate widget icon-globe">
				<div class="widget-heading">
					<p class="title" duration="6" count-to="128" count-from="30">{{ output }}</p>
					<span class="subtitle">New topics published</span>
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
			<div class="indicator-alternate widget bg-success fa fa-facebook">
				<div class="widget-heading">
					<p class="title" duration="6" count-to="350" count-from="30">{{ output }}</p>
					<span class="subtitle">Facebook</span>
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
			<div class="indicator-alternate widget bg-info icon-chat">
				<div class="widget-heading">
					<p class="title" duration="6" count-to="128" count-from="30">{{ output }}</p>
					<span class="subtitle">Chat</span>
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
			<div class="indicator-alternate widget bg-primary fa fa-twitter">
				<div class="widget-heading">
					<p class="title" duration="6" count-to="128" count-from="30">{{ output }}</p>
					<span class="subtitle">Twitter</span>
				</div>
			</div>
		</div>

		<div class="col-xlg-4 col-lg-4 col-md-12 col-sm-12">
			<div class="widget info-box">
				<span class="icon icon-share icon-6x"></span>
				<div class="widget-body">
					<span class="info-text bolder text-blocked">Info or text box</span>
					<span class="subinfo-text text-blocked">New comments today</span>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xlg-8 col-lg-8 col-md-12 col-sm-12">
			<div class="widget widget-lg chart">
				<div class="widget-body">
					<div ui-charts="chartDemo5"></div>
				</div>
			</div>
		</div>
		<div class="col-xlg-4 col-lg-4 col-md-12 col-sm-12">
			<widget-balance></widget-balance>
		</div>
	</div>
	<div class="row">
		<div class="col-xlg-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<div class="weather widget widget-lg">
				<div class="widget-heading">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-sm-4 col-xs-6 text-right">
							<span class="icon icon-weather-day-sunny icon-fw icon-6x"></span>
						</div>
						<div class="col-lg-8 col-md-6 col-sm-8 col-xs-6 text-left">
							<h1 class="deg">16&deg;C</h1>
							<p class="location">Monday | London, UK</p>
						</div>
					</div>
				</div>
				<div class="widget-body">
					<div class="row">
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
							<p class="weekday-name">Tue</p>
							<span class="icon icon-fw icon-2x icon-weather-day-cloudy"></span>
							<p class="deg text-success">19&deg;C</p>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<p class="weekday-name">Wen</p>
							<span class="icon icon-fw icon-2x icon-weather-day-lightning"></span>
							<p class="deg text-success">19&deg;C</p>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<p class="weekday-name">Thu</p>
							<span class="icon icon-fw icon-2x icon-weather-day-rain"></span>
							<p class="deg text-success">19&deg;C</p>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<p class="weekday-name">Fri</p>
							<span class="icon icon-fw icon-2x icon-weather-day-sunny"></span>
							<p class="deg text-success">19&deg;C</p>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<p class="weekday-name">Sat</p>
							<span class="icon icon-fw icon-2x icon-weather-day-sunny-overcast"></span>
							<p class="deg text-success">19&deg;C</p>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<p class="weekday-name">Sun</p>
							<span class="icon icon-fw icon-2x icon-weather-day-sunny-overcast"></span>
							<p class="deg text-success">19&deg;C</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xlg-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<div class="publisher widget widget-lg">
				<div class="widget-heading bg-success">
					<p class="title">Webarch <strong>UI Bundle</strong><br>highly customizable<br><strong>UI elements</strong></p>
					<a href class="hashtag">#text</a>
				</div>
				<div class="widget-body">
					<div class="row">
						<div class="col-xlg-5 col-lg-5 col-md-5 col-sm-4 col-xs-4 text-center title">
							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="230px" height="230px" viewBox="0 0 230 230">
								<defs>
									<mask id="mask1" x="0" y="0" width="200" height="200">
										<path fill="#fff" d="M218.5,112.667C218.5,123.333,126.666,215,116.166,215S13.832,126,13.832,112.667 s87.5-102.333,102.333-102.333S218.5,102,218.5,112.667z"/>
									</mask>
								</defs>
								<g>
									<image x="0" y="10" width="230" height="230" xlink:href="assets/img/avatar/avatar200.png" style="mask:url(#mask1);" />
									<path fill="#fff" d="M116.128,19.572c5.27,2.409,22.242,15.56,49.901,43.779c23.378,23.852,38.753,42.554,42.787,49.235
										c-3.956,6.25-18.6,23.593-43.896,48.868c-25.187,25.167-42.496,39.793-48.803,43.823c-6.436-3.999-24.206-18.657-49.001-43.113
										c-27.674-27.295-41.03-44.065-43.919-49.563c2.983-5.978,17.438-24.394,42.817-49.953C92.23,36.246,110.426,22.07,116.128,19.572
										 M116.166,10.333c-14.834,0-102.333,89-102.333,102.333C13.833,126,105.667,215,116.167,215S218.5,123.333,218.5,112.666
										C218.5,102,131,10.333,116.166,10.333L116.166,10.333z" stroke-width="2" stroke="#fff" />
								</g>
							</svg>
							<h4 class="text-info">John Smith</h4>
							<span class="text-muted"><span class="fa fa-clock-o"></span> 14.05.2014 12:20</span>
						</div>
						<div class="col-xlg-7 col-lg-7 col-md-7 col-sm-8 col-xs-8 content">
							<span class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae unde sapiente.</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xlg-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<div class="publisher widget widget-lg">
				<div class="widget-heading" style="background-image:url('assets/img/avatar/avatar.jpg')">
					<a href class="hashtag">#creative</a>
				</div>
				<div class="widget-body">
					<div class="row">
						<div class="col-lg-5 col-md-5 col-sm-4 col-xs-4 text-center title">
							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="230px" height="230px" viewBox="0 0 230 230">
								<defs>
									<mask id="mask1" x="0" y="0" width="200" height="200">
										<path fill="#fff" d="M218.5,112.667C218.5,123.333,126.666,215,116.166,215S13.832,126,13.832,112.667 s87.5-102.333,102.333-102.333S218.5,102,218.5,112.667z"/>
									</mask>
								</defs>
								<g>
									<image x="0" y="10" width="230" height="230" xlink:href="assets/img/avatar/avatar200.png" style="mask:url(#mask1);" />
									<path fill="#fff" d="M116.128,19.572c5.27,2.409,22.242,15.56,49.901,43.779c23.378,23.852,38.753,42.554,42.787,49.235
										c-3.956,6.25-18.6,23.593-43.896,48.868c-25.187,25.167-42.496,39.793-48.803,43.823c-6.436-3.999-24.206-18.657-49.001-43.113
										c-27.674-27.295-41.03-44.065-43.919-49.563c2.983-5.978,17.438-24.394,42.817-49.953C92.23,36.246,110.426,22.07,116.128,19.572
										 M116.166,10.333c-14.834,0-102.333,89-102.333,102.333C13.833,126,105.667,215,116.167,215S218.5,123.333,218.5,112.666
										C218.5,102,131,10.333,116.166,10.333L116.166,10.333z" stroke-width="2" stroke="#fff" />
								</g>
							</svg>
							<h4 class="text-info">John Smith</h4>
							<p class="text-muted"><span class="fa fa-clock-o"></span> 14.05.2014 12:20</p>
						</div>
						<div class="col-lg-7 col-md-7 col-sm-8 col-xs-8 content">
							<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae unde sapiente ...</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	
		<div class="col-xlg-2 col-lg-3 col-md-6 col-sm-6 col-xs-12">
			<div class="calendar-daily widget widget-lg">
				<div class="widget-heading">
					<p class="title">2</p>
					<span class="subtitle">Monday</span>
				</div>
				<div class="widget-body"><span>January 2015</span></div>
				<div class="widget-footer">
					<div class="row">
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href class="fa fa-angle-left fa-2x text-success"></a></div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href class="day active">2</a></div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href class="day ">3</a></div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href class="day ">4</a></div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href class="day ">5</a></div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href class="fa fa-angle-right fa-2x text-success"></a></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xlg-2 col-lg-3 col-md-6 col-sm-6 col-xs-12">
			<div class="radiofm widget widget-lg">
				<div class="widget-heading bg-success">
					<h2 class="title">BBC Radio</h2>
					<p class="subtitle">102.20 FM</p>
					<div class="bars active">
						<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
					</div>
					<a href="" class="play"><span class="fa fa-play fa-2x text-success"></span></a>

					<a href="" class="btn-nav-left"><span class="fa fa-angle-left fa-2x"></span></a>
					<a href="" class="btn-nav-right"><span class="fa fa-angle-right fa-2x"></span></a>
				</div>
				<div class="widget-body">
					<svg width="100%" height="20px" xmlns="http://www.w3.org/2000/svg" class="ruler">
						<defs>
							<pattern id="bar" width="6px" height="10px" patternUnits="userSpaceOnUse">
								<rect width="2px" height="10px" fill="#eee"></rect>
							</pattern>
							<pattern id="ruler" width="60px" height="20px" patternUnits="userSpaceOnUse">
								<rect x="0" y="0" width="2px" height="20px" fill="#eee"></rect>
								<rect x="6px" y="0" width="54px" height="10px" fill="url(#bar)"></rect>
							</pattern>
						</defs>
						<rect width="100%" height="20px" fill="url(#ruler)"></rect>
						<line x1="0" y1="0" x2="100%" y2="0" stroke-width="3" stroke="#eee"></line>
					</svg>
					<div class="ruler-cord">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">90</div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">100</div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">110</div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">120</div>
						</div>
					</div>
				</div>
				<div class="widget-footer clearfix">
					<a href class="icon-volume2 icon-lg"></a>
					<a href class="icon-gear icon-lg pull-right"></a>
				</div>
			</div>
		</div>
		<div class="col-xlg-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<div class="timeline widget widget-lg">
				<div class="widget-body">
					<ul class="events">
						<li>
							<div class="time text-center event-success">5 min ago</div>
							<div class="avatar text-center">
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 230 230">
									<defs>
										<mask id="mask1" x="0" y="0" width="200" height="200">
											<path fill="#fff" d="M218.5,112.667C218.5,123.333,126.666,215,116.166,215S13.832,126,13.832,112.667 s87.5-102.333,102.333-102.333S218.5,102,218.5,112.667z"/>
										</mask>
									</defs>
									<g>
										<image x="0" y="10" width="230" height="230" xlink:href="assets/img/avatar/avatar200.png" style="mask:url(#mask1);" />
									</g>
								</svg>
							</div>
							<div class="content">
								<p class="title bolder text-blocked">User John Smith has checked in London, UK</p>
								<span class="subtitle">Buckingham Palace, London, UK</span>
							</div>
						</li>
						<li>
							<div class="time text-center event-info">5 min ago</div>
							<div class="avatar text-center">
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 230 230">
									<defs>
										<mask id="mask1" x="0" y="0" width="200" height="200">
											<path fill="#fff" d="M218.5,112.667C218.5,123.333,126.666,215,116.166,215S13.832,126,13.832,112.667 s87.5-102.333,102.333-102.333S218.5,102,218.5,112.667z"/>
										</mask>
									</defs>
									<g>
										<image x="0" y="10" width="230" height="230" xlink:href="assets/img/avatar/avatar200.png" style="mask:url(#mask1);" />
									</g>
								</svg>
							</div>
							<div class="content">
								<p class="title bolder text-blocked">User John Smith has checked in London, UK</p>
								<span class="subtitle">Buckingham Palace, London, UK</span>
							</div>
						</li>
						<li>
							<div class="time text-center event-danger">5 min ago</div>
							<div class="avatar text-center">
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 230 230">
									<defs>
										<mask id="mask1" x="0" y="0" width="200" height="200">
											<path fill="#fff" d="M218.5,112.667C218.5,123.333,126.666,215,116.166,215S13.832,126,13.832,112.667 s87.5-102.333,102.333-102.333S218.5,102,218.5,112.667z"/>
										</mask>
									</defs>
									<g>
										<image x="0" y="10" width="230" height="230" xlink:href="assets/img/avatar/avatar200.png" style="mask:url(#mask1);" />
									</g>
								</svg>
							</div>
							<div class="content">
								<p class="title bolder text-blocked">User John Smith has checked in London, UK</p>
								<span class="subtitle">Buckingham Palace, London, UK</span>
							</div>
						</li>
					</ul>
				</div>
				<div class="widget-footer">
					<a href="" class="view-all">View all events in timeline</a>
				</div>
			</div>
		</div>
		<div class="col-xlg-2 col-lg-3 col-md-6 col-sm-6 col-xs-12">
			<div class="weather-daily widget widget-lg">
				<div class="widget-heading">
					<p class="title">Monday</p>
					<span class="subtitle">2 January</span>

					<a href class="btn-left"><span class="fa fa-angle-left fa-3x"></span></a>
					<a href class="btn-right"><span class="fa fa-angle-right fa-3x"></span></a>
				</div>
				<div class="widget-body">
					<div class="bg">
						<p class="icon icon-weather-day-cloudy icon-6x icon-fw"></p>
						<div class="deg">
							<span class="fa fa-moon-o"></span> 6&deg;C
							<span class="fa fa-sun-o"></span> 12&deg;C
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xlg-2 col-lg-3 col-md-6 col-sm-6 col-xs-12">
			<div class="widget widget-lg">
				<div class="widget-body">
					<div ui-charts="chartDemo8"></div>
				</div>
			</div>
		</div>
	</div>
</section>