<div class="balance widget widget-lg">
	<div class="widget-heading">
		<!-- <button class="btn btn-link options fa fa-cog"></button> -->
		<h1 class="title light">$ 1.235,00</h1>
		<small class="subtitle">Monthly balance</small>
		<div ui-charts="chartDemo"></div>
	</div>
	<div class="widget-body">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4 text-blocked text-center">
				<p class="bold">26</p> Invoice
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 text-blocked text-center">
				<p class="bold">13</p> Bill
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 text-blocked text-center">
				<p class="bold">4</p> Paid
			</div>
		</div>
	</div>
</div>