<div class="planner widget widget-lg">
	<div class="widget-heading">
		<ul class="nav nav-tabs nav-justified" role="tablist" ui-tabs>
			<li class="active"><a href="#payments" role="tab" data-toggle="tab" class="text-info"><span class="fa fa-circle"></span> Payments</a></li>
			<li><a href="#income" role="tab" data-toggle="tab" class="text-success"><span class="fa fa-circle"></span> Income</a></li>
		</ul>
	</div>
	<div class="widget-body tab-content">
		<div id="payments" class="tab-pane active">
			<dl>
				<dt><span class="fa fa-cc-visa text-info"></span> VAT tax payment <span class="pull-right">02.12</span></dt>
				<dd>Total: $ 2 214.00</dd>

				<dt><span class="fa fa-cc-mastercard text-info"></span> VAT tax payment <span class="pull-right">02.12</span></dt>
				<dd>Total: $ 2 214.00</dd>
				
				<dt><span class="fa fa-credit-card text-info"></span> VAT tax payment <span class="pull-right">02.12</span></dt>
				<dd>Total: $ 2 214.00</dd>
				
			</dl>
		</div>
		<div id="income" class="tab-pane">
			<dl>
				<dt><span class="fa fa-check"></span> VAT tax payment <span class="pull-right">02.12</span></dt>
				<dd>Total: $ 2 214.00</dd>

				<dt><span class="fa fa-check"></span> VAT tax payment <span class="pull-right">02.12</span></dt>
				<dd>Total: $ 2 214.00</dd>
				
				<dt><span class="fa fa-clock-o"></span> VAT tax payment <span class="pull-right">-</span></dt>
				<dd>Total: $ 2 214.00</dd>
				
			</dl>
		</div>
	</div>
	<div ui-charts="chartDemo"></div>
</div>