<div class="col-xlg-8 col-lg-7 col-md-12 col-sm-12">
	<div class="panel panel-default">
		<div class="panel-body clearfix form-horizontal">
			<div class="form-group">
				<label for="" class="col-lg-1 col-md-1 col-sm-1 control-label">From</label>
				<div class="col-lg-11 col-md-11 col-sm-11">
					<input type="text" ng-model="senders" ng-tags placeholder="Add senders" data-limit="1">
				</div>
			</div>
			<div class="form-group">
				<label for="" class="col-lg-1 col-md-1 col-sm-1 control-label">To</label>
				<div class="col-lg-11 col-md-11 col-sm-11">
					<input type="text" ng-model="recipients" ng-tags placeholder="Add recipients" class="bg-info">
				</div>
			</div>
			<div class="row">
				<ng-quill-editor ng-model="message" toolbar="true" link-tooltip="true" image-tooltip="true" toolbar-entries="font size bold list bullet italic underline strike align color background link image" editor-required="true" required="" error-class="input-error"></ng-quill-editor>				
			</div>
		</div>
		<div class="panel-footer clearfix">
			<div class="pull-right">
				<button type="button" class="btn btn-primary btn-flat icon-standalone">
					<i class="fa fa-plus"></i> <span>Attach file</span>
				</button>
				<button class="btn btn-success btn-flat hidden-xs">Save draft</button>
				<button class="btn btn-danger btn-flat">Send</button>
			</div>
			<button class="btn btn-default" ng-click="cancel($event)">Cancel</button>
		</div>
	</div>
</div>