<main class="page login">
	<section class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="form-group">
					<h1 class="text-center">
						<img src="assets/img/logo3.svg" alt="Logotype">
					</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="panel">
					<div class="panel-heading text-center">
						<h3>Login</h3>
					</div>
					<div class="panel-body">
						<form ng-submit="login()">
							<div class="form-group">
								<div class="input-group plain-addon">
									<div class="input-group-addon"><span class="fa fa-envelope-o fa-fw"></span></div>
									<input type="text" ng-model="email" class="form-control" placeholder="Enter email">
								</div>
							</div>
							<div class="form-group">
								<div class="input-group plain-addon">
									<div class="input-group-addon"><span class="fa fa-unlock-alt fa-fw"></span></div>
									<input type="password" ng-model="password" class="form-control" placeholder="Enter password">
								</div>
							</div>
							<button type="button" class="btn btn-link">Forgot You password?</button>
							<input type="submit" ng-click="login()" class="btn btn-success pull-right" value="Log me in!" />
						</form>
					</div>
					<div class="panel-footer">
						<span class="text-center">Don't have an account yet? <a href ui-sref="page.register" class="text-success"><strong>Sing up!</strong></a></span>
						
					</div>
				</div>
			</div>
		</div>
	</section>		
</main>
