<main class="page login">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<h1 class="text-center form-group">
					<img src="assets/img/logo3.svg" alt="Logotype">
				</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="text-center">
							<h3>Sing in</h3>
						</div>
					</div>
					<div class="panel-body">
						
						<div class="form-group">
							<div class="input-group plain-addon">
								<div class="input-group-addon"><span class="fa fa-user fa-fw"></span></div>
								<input type="text" class="form-control" placeholder="Username">
							</div>
						</div>
						<div class="form-group">
							<div class="input-group plain-addon">
								<div class="input-group-addon"><span class="fa fa-envelope-o fa-fw"></span></div>
								<input type="email" class="form-control" placeholder="Enter email">
							</div>
						</div>
						<div class="form-group">
							<div class="input-group plain-addon">
								<div class="input-group-addon"><span class="fa fa-unlock-alt fa-fw"></span></div>
								<input type="password" class="form-control" placeholder="Enter password">
							</div>
						</div>
						<div class="form-group">
							<div class="input-group plain-addon">
								<div class="input-group-addon"><span class="fa fa-repeat fa-fw"></span></div>
								<input type="password" class="form-control" placeholder="Renter password">
							</div>
						</div>

						<button type="button" class="btn btn-link">Registered? Log in here!</button>
						<button type="button" ui-sref="home.dashboard1" class="btn btn-success pull-right">Register me</button>
					</div>
					<div class="panel-footer">
						<span class="text-center">Already registered? <a href ui-sref="page.login" class="text-success"><strong>Login now!</strong></a></span>
					</div>
				</div>
			</div>
		</div>
	</div>		
</main>
