<div id="page-heading">
	<h3 class="page-title">Employees</h3>
</div>

<section class="container-fluid">

	<article class="panel panel-success">
		<header class="panel-heading">
			Employee
			<div class="panel-options">
				
				<a href="" data-toggle="minimize">
					<i class="fa fa-minus"></i>
					<i class="fa fa-plus"></i>
				</a>
				<a href="" data-toggle="close"><i class="fa fa-remove"></i></a>
			</div>
		</header>
		<section class="panel-body form-horizontal">
			<table ng-table="tableEmployee" class="table ng-table-responsive">
				<tr ng-repeat="item in $data">
					<td data-title="'Name'" sortable="'name'">{{ item.name }}</td>
				<td data-title="'Position'">{{ item.position }}</td>
				<td data-title="'Options'">
					<div class="btn-group">
						<button class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
						<ul role="menu" class="dropdown-menu">
							<li><a  href ui-sref="app.admin.employee.update" >Edit</a></li>
							<li><a href="">Delete</a></li>
							
						</ul>
					</div>
				</td>
				</tr>
			</table>
		</section>
	</article>
</section>