<div id="page-heading">
	<h3 class="page-title">Grid layout</h3>
</div>
<section class="container-fluid">
	
	<div class="panel panel-default">
		<div class="panel-heading">
			Grid specification
		</div>
		<div class="panel-body">
			<table class="table table-bordered text-center">
				<thead>
					<tr>
						<th></th>
						<th>Extra small</th>
						<th>Small devices</th>
						<th>Medium devices Desktop</th>
						<th>Large devices Desktop</th>
						<th>Extra Large Desktop</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><strong>Max container width</strong></td>
						<td><span>< 768px</span></td>
						<td><span>≥ 768px</span></td>
						<td><span>≥ 992px</span></td>
						<td><span>≥ 1200px</span></td>
						<td><span>≥ 1440px</span></td>
					</tr>
					<tr>
						<td><strong>Class prefix</strong></td>
						<td><mark>.col-xs-*</mark></td>
						<td><mark>.col-sm-*</mark></td>
						<td><mark>.col-md-*</mark></td>
						<td><mark>.col-lg-*</mark></td>
						<td><mark>.col-xlg-*</mark></td>
					</tr>
					<tr>
						<td><strong>Number of columns</strong></td>
						<td colspan="5"><span>12 columns</span></td>
					</tr>
					<tr>
						<td><strong>Column width</strong></td>
						<td><span>Auto</span></td>
						<td><span>~62px</span></td>
						<td><span>~78px</span></td>
						<td><span>~96px</span></td>
						<td><span>~112px</span></td>
					</tr>
					<tr>
						<td><strong>Gutter width</strong></td>
						<td colspan="5"><span>30px (15px on each side of a column)</span></td>
					</tr>
					<tr>
						<td><strong>Nestable</strong></td>
						<td colspan="5">Yes</td>
					</tr>
					<tr>
						<td><strong>Offsets</strong></td>
						<td colspan="5">Yes</td>
					</tr>
					<tr>
						<td><strong>Column ordering</strong></td>
						<td colspan="5">Yes</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="row">
		<div class="col-xlg-1 col-lg-1 col-md-1 col-sm-2">
			<div class="panel panel-default">
				<div class="panel-body">col 1</div>
			</div>
		</div>
		<div class="col-xlg-1 col-lg-1 col-md-1 col-sm-2">
			<div class="panel panel-default">
				<div class="panel-body">col 1</div>
			</div>
		</div>
		<div class="col-xlg-1 col-lg-1 col-md-1 col-sm-2">
			<div class="panel panel-default">
				<div class="panel-body">col 1</div>
			</div>
		</div>
		<div class="col-xlg-1 col-lg-1 col-md-1 col-sm-2">
			<div class="panel panel-default">
				<div class="panel-body">col 1</div>
			</div>
		</div>
		<div class="col-xlg-1 col-lg-1 col-md-1 col-sm-2">
			<div class="panel panel-default">
				<div class="panel-body">col 1</div>
			</div>
		</div>
		<div class="col-xlg-1 col-lg-1 col-md-1 col-sm-2">
			<div class="panel panel-default">
				<div class="panel-body">col 1</div>
			</div>
		</div>
		<div class="col-xlg-1 col-lg-1 col-md-1 col-sm-2">
			<div class="panel panel-default">
				<div class="panel-body">col 1</div>
			</div>
		</div>
		<div class="col-xlg-1 col-lg-1 col-md-1 col-sm-2">
			<div class="panel panel-default">
				<div class="panel-body">col 1</div>
			</div>
		</div>
		<div class="col-xlg-1 col-lg-1 col-md-1 col-sm-2">
			<div class="panel panel-default">
				<div class="panel-body">col 1</div>
			</div>
		</div>
		<div class="col-xlg-1 col-lg-1 col-md-1 col-sm-2">
			<div class="panel panel-default">
				<div class="panel-body">col 1</div>
			</div>
		</div>
		<div class="col-xlg-1 col-lg-1 col-md-1 col-sm-2">
			<div class="panel panel-default">
				<div class="panel-body">col 1</div>
			</div>
		</div>
		<div class="col-xlg-1 col-lg-1 col-md-1 col-sm-2">
			<div class="panel panel-default">
				<div class="panel-body">col 1</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xlg-2 col-lg-2 col-md-2 col-sm-2">
			<div class="panel panel-default">
				<div class="panel-body">Col 2</div>
			</div>
		</div>
		<div class="col-xlg-2 col-lg-2 col-md-2 col-sm-2">
			<div class="panel panel-default">
				<div class="panel-body">Col 2</div>
			</div>
		</div>
		<div class="col-xlg-2 col-lg-2 col-md-2 col-sm-2">
			<div class="panel panel-default">
				<div class="panel-body">Col 2</div>
			</div>
		</div>
		<div class="col-xlg-2 col-lg-2 col-md-2 col-sm-2">
			<div class="panel panel-default">
				<div class="panel-body">Col 2</div>
			</div>
		</div>
		<div class="col-xlg-2 col-lg-2 col-md-2 col-sm-2">
			<div class="panel panel-default">
				<div class="panel-body">Col 2</div>
			</div>
		</div>
		<div class="col-xlg-2 col-lg-2 col-md-2 col-sm-2">
			<div class="panel panel-default">
				<div class="panel-body">Col 2</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xlg-3 col-lg-3 col-md-3 col-sm-3">
			<div class="panel panel-default">
				<div class="panel-body">Col 3</div>
			</div>
		</div>
		<div class="col-xlg-3 col-lg-3 col-md-3 col-sm-3">
			<div class="panel panel-default">
				<div class="panel-body">Col 3</div>
			</div>
		</div>
		<div class="col-xlg-3 col-lg-3 col-md-3 col-sm-3">
			<div class="panel panel-default">
				<div class="panel-body">Col 3</div>
			</div>
		</div>
		<div class="col-xlg-3 col-lg-3 col-md-3 col-sm-3">
			<div class="panel panel-default">
				<div class="panel-body">Col 3</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xlg-4 col-lg-4 col-md-4 col-sm-4">
			<div class="panel panel-default">
				<div class="panel-body">Col 4</div>
			</div>
		</div>
		<div class="col-xlg-4 col-lg-4 col-md-4 col-sm-4">
			<div class="panel panel-default">
				<div class="panel-body">Col 4</div>
			</div>
		</div>
		<div class="col-xlg-4 col-lg-4 col-md-4 col-sm-4">
			<div class="panel panel-default">
				<div class="panel-body">Col 4</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xlg-5 col-lg-5 col-md-5 col-sm-5">
			<div class="panel panel-default">
				<div class="panel-body">Col 5</div>
			</div>
		</div>
		<div class="col-xlg-2 col-lg-2 col-md-2 col-sm-2">
			<div class="panel panel-default">
				<div class="panel-body">Col 2</div>
			</div>
		</div>
		<div class="col-xlg-5 col-lg-5 col-md-5 col-sm-5">
			<div class="panel panel-default">
				<div class="panel-body">Col 5</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xlg-6 col-lg-6 col-md-6 col-sm-6">
			<div class="panel panel-default">
				<div class="panel-body">Col 6</div>
			</div>
		</div>
		<div class="col-xlg-6 col-lg-6 col-md-6 col-sm-6">
			<div class="panel panel-default">
				<div class="panel-body">Col 6</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xlg-7 col-lg-7 col-md-7 col-sm-7">
			<div class="panel panel-default">
				<div class="panel-body">Col 7</div>
			</div>
		</div>
		<div class="col-xlg-5 col-lg-5 col-md-5 col-sm-5">
			<div class="panel panel-default">
				<div class="panel-body">Col 5</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xlg-8 col-lg-8 col-md-8 col-sm-8">
			<div class="panel panel-default">
				<div class="panel-body">Col 8</div>
			</div>
		</div>
		<div class="col-xlg-4 col-lg-4 col-md-4 col-sm-4">
			<div class="panel panel-default">
				<div class="panel-body">Col 4</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xlg-9 col-lg-9 col-md-9 col-sm-9">
			<div class="panel panel-default">
				<div class="panel-body">Col 9</div>
			</div>
		</div>
		<div class="col-xlg-3 col-lg-3 col-md-3 col-sm-3">
			<div class="panel panel-default">
				<div class="panel-body">Col 3</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xlg-10 col-lg-10 col-md-10 col-sm-10">
			<div class="panel panel-default">
				<div class="panel-body">Col 10</div>
			</div>
		</div>
		<div class="col-xlg-2 col-lg-2 col-md-2 col-sm-2">
			<div class="panel panel-default">
				<div class="panel-body">Col 2</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xlg-11 col-lg-11 col-md-11 col-sm-11">
			<div class="panel panel-default">
				<div class="panel-body">Col 11</div>
			</div>
		</div>
		<div class="col-lg-1 col-md-1 col-sm-1">
			<div class="panel panel-default">
				<div class="panel-body">Col 1</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xlg-12 col-lg-12 col-md-12 col-sm-12">
			<div class="panel panel-default">
				<div class="panel-body">Col 12</div>
			</div>
		</div>
	</div>
</section>