<div id="page-heading">
	<h3 class="page-title">Iconsets</h3>
</div>
<section class="container-fluid" id="demo-page-icons">
	
	<article class="panel panel-default">
		<header class="panel-heading">Iconset - Default icons</header>
		<section class="panel-body">
			<div class="row">
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-brush icon-2x"></p>
					<span class="i-name">.icon-pencil</span>
					<p class="i-code">0xe89d</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-pin icon-2x"></p>
					<span class="i-name">.icon-pin</span>
					<p class="i-code">0xe89e</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-clip icon-2x"></p>
					<span class="i-name">.icon-clip</span>
					<p class="i-code">0xe89f</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-clip2 icon-2x"></p>
					<span class="i-name">.icon-clip2</span>
					<p class="i-code">0xe8a0</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-folder icon-2x"></p>
					<span class="i-name">.icon-folder</span>
					<p class="i-code">0xe8a1</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-folder2 icon-2x"></p>
					<span class="i-name">.icon-folder2</span>
					<p class="i-code">0xe8a2</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-tag icon-2x"></p>
					<span class="i-name">.icon-tag</span>
					<p class="i-code">0xe8a3</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-chart icon-2x"></p>
					<span class="i-name">.icon-chart</span>
					<p class="i-code">0xe8a4</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-chart2 icon-2x"></p>
					<span class="i-name">.icon-chart2</span>
					<p class="i-code">0xe8a5</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-calc icon-2x"></p>
					<span class="i-name">.icon-calc</span>
					<p class="i-code">0xe8a6</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-list icon-2x"></p>
					<span class="i-name">.icon-list</span>
					<p class="i-code">0xe8a7</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-order-asc icon-2x"></p>
					<span class="i-name">.icon-order-asc</span>
					<p class="i-code">0xe8a8</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-order-dsc icon-2x"></p>
					<span class="i-name">.icon-order-dsc</span>
					<p class="i-code">0xe8ab</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-justify-left icon-2x"></p>
					<span class="i-name">.icon-justify-left</span>
					<p class="i-code">0xe8aa</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-justify-center icon-2x"></p>
					<span class="i-name">.icon-justify-center</span>
					<p class="i-code">0xe8ae</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-justify-right icon-2x"></p>
					<span class="i-name">.icon-justify-right</span>
					<p class="i-code">0xe832</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-trash icon-2x"></p>
					<span class="i-name">.icon-trash</span>
					<p class="i-code">0xe8ad</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-case icon-2x"></p>
					<span class="i-name">.icon-case</span>
					<p class="i-code">0xe8ae</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-layer icon-2x"></p>
					<span class="i-name">.icon-layer</span>
					<p class="i-code">0xe8af</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-print icon-2x"></p>
					<span class="i-name">.icon-print</span>
					<p class="i-code">0xe8b0</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-paper-plane icon-2x"></p>
					<span class="i-name">.icon-paper-plane</span>
					<p class="i-code">0xe8b1</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-letter icon-2x"></p>
					<span class="i-name">.icon-letter</span>
					<p class="i-code">0xe8b4</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-letter1 icon-2x"></p>
					<span class="i-name">.icon-letter1</span>
					<p class="i-code">0xe8b3</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-letter2 icon-2x"></p>
					<span class="i-name">.icon-letter2</span>
					<p class="i-code">0xe8b2</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-speak icon-2x"></p>
					<span class="i-name">.icon-speak</span>
					<p class="i-code">0xe8b5</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-speak1 icon-2x"></p>
					<span class="i-name">.icon-speak1</span>
					<p class="i-code">0xe8b6</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-speak2 icon-2x"></p>
					<span class="i-name">.icon-speak2</span>
					<p class="i-code">0xe8b8</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-speak3 icon-2x"></p>
					<span class="i-name">.icon-speak3</span>
					<p class="i-code">0xe8b9</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-chat icon-2x"></p>
					<span class="i-name">.icon-chat</span>
					<p class="i-code">0xe8b7</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-fork-spanner icon-2x"></p>
					<span class="i-name">.icon-fork-spanner</span>
					<p class="i-code">0xe8bb</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-lock icon-2x"></p>
					<span class="i-name">.icon-lock</span>
					<p class="i-code">0xe8bc</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-lock1 icon-2x"></p>
					<span class="i-name">.icon-lock1</span>
					<p class="i-code">0xe8bd</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-user-list icon-2x"></p>
					<span class="i-name">.icon-user-list</span>
					<p class="i-code">0xe8be</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-user icon-2x"></p>
					<span class="i-name">.icon-user</span>
					<p class="i-code">0xe8bf</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-airplane icon-2x"></p>
					<span class="i-name">.icon-airplane</span>
					<p class="i-code">0xe8c0</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-phone icon-2x"></p>
					<span class="i-name">.icon-phone</span>
					<p class="i-code">0xe8c1</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-mic-mute icon-2x"></p>
					<span class="i-name">.icon-mic-mute</span>
					<p class="i-code">0xe8c3</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-mic icon-2x"></p>
					<span class="i-name">.icon-mic</span>
					<p class="i-code">0xe8c4</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-megaphone icon-2x"></p>
					<span class="i-name">.icon-megaphone</span>
					<p class="i-code">0xe8c2</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-eggtimer icon-2x"></p>
					<span class="i-name">.icon-eggtimer</span>
					<p class="i-code">0xe8c5</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-stopwatch icon-2x"></p>
					<span class="i-name">.icon-stopwatch</span>
					<p class="i-code">0xe8c6</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-wallclock icon-2x"></p>
					<span class="i-name">.icon-wallclock</span>
					<p class="i-code">0xe8c7</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-clock icon-2x"></p>
					<span class="i-name">.icon-clock</span>
					<p class="i-code">0xe8c8</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-cal icon-2x"></p>
					<span class="i-name">.icon-cal</span>
					<p class="i-code">0xe8c9</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-slide-left icon-2x"></p>
					<span class="i-name">.icon-slide-left</span>
					<p class="i-code">0xe8ca</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-slide-right icon-2x"></p>
					<span class="i-name">.icon-slide-right</span>
					<p class="i-code">0xe8cb</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-settings icon-2x"></p>
					<span class="i-name">.icon-settings</span>
					<p class="i-code">0xe8cc</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-gear icon-2x"></p>
					<span class="i-name">.icon-gear</span>
					<p class="i-code">0xe8cd</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-compas icon-2x"></p>
					<span class="i-name">.icon-compas</span>
					<p class="i-code">0xe8ce</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-note icon-2x"></p>
					<span class="i-name">.icon-note</span>
					<p class="i-code">0xe800</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-sheet icon-2x"></p>
					<span class="i-name">.icon-sheet</span>
					<p class="i-code">0xe801</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-image icon-2x"></p>
					<span class="i-name">.icon-image</span>
					<p class="i-code">0xe802</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-book icon-2x"></p>
					<span class="i-name">.icon-book</span>
					<p class="i-code">0xe803</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-clipboard icon-2x"></p>
					<span class="i-name">.icon-clipboard</span>
					<p class="i-code">0xe804</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-edit icon-2x"></p>
					<span class="i-name">.icon-edit</span>
					<p class="i-code">0xe805</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-pencil icon-2x"></p>
					<span class="i-name">.icon-pencil</span>
					<p class="i-code">0xe806</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-marker icon-2x"></p>
					<span class="i-name">.icon-marker</span>
					<p class="i-code">0xe807</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-cross icon-2x"></p>
					<span class="i-name">.icon-cross</span>
					<p class="i-code">0xe808</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-map icon-2x"></p>
					<span class="i-name">.icon-map</span>
					<p class="i-code">0xe808</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-cup icon-2x"></p>
					<span class="i-name">.icon-cup</span>
					<p class="i-code">0xe80a</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-prize icon-2x"></p>
					<span class="i-name">.icon-prize</span>
					<p class="i-code">0xe80b</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-water icon-2x"></p>
					<span class="i-name">.icon-water</span>
					<p class="i-code">0xe80c</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-fire icon-2x"></p>
					<span class="i-name">.icon-fire</span>
					<p class="i-code">0xe80d</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-lid icon-2x"></p>
					<span class="i-name">.icon-lid</span>
					<p class="i-code">0xe80e</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-glass icon-2x"></p>
					<span class="i-name">.icon-glass</span>
					<p class="i-code">0xe80f</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-vodka icon-2x"></p>
					<span class="i-name">.icon-vodka</span>
					<p class="i-code">0xe810</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-gameboy icon-2x"></p>
					<span class="i-name">.icon-gameboy</span>
					<p class="i-code">0xe811</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-camera icon-2x"></p>
					<span class="i-name">.icon-camera</span>
					<p class="i-code">0xe812</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-brick icon-2x"></p>
					<span class="i-name">.icon-brick</span>
					<p class="i-code">0xe813</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-iphone icon-2x"></p>
					<span class="i-name">.icon-iphone</span>
					<p class="i-code">0xe814</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-pad icon-2x"></p>
					<span class="i-name">.icon-pad</span>
					<p class="i-code">0xe815</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-phone icon-2x"></p>
					<span class="i-name">.icon-phone</span>
					<p class="i-code">0xe816</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-monitor icon-2x"></p>
					<span class="i-name">.icon-monitor</span>
					<p class="i-code">0xe817</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-fork icon-2x"></p>
					<span class="i-name">.icon-fork</span>
					<p class="i-code">0xe818</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-spoon icon-2x"></p>
					<span class="i-name">.icon-spoon</span>
					<p class="i-code">0xe819</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-knife icon-2x"></p>
					<span class="i-name">.icon-knife</span>
					<p class="i-code">0xe81a</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-mouse icon-2x"></p>
					<span class="i-name">.icon-mouse</span>
					<p class="i-code">0xe81b</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-floppy icon-2x"></p>
					<span class="i-name">.icon-floppy</span>
					<p class="i-code">0xe81c</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-camera2 icon-2x"></p>
					<span class="i-name">.icon-camera2</span>
					<p class="i-code">0xe81d</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-roll icon-2x"></p>
					<span class="i-name">.icon-roll</span>
					<p class="i-code">0xe81e</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-radio icon-2x"></p>
					<span class="i-name">.icon-radio</span>
					<p class="i-code">0xe81f</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-tv icon-2x"></p>
					<span class="i-name">.icon-tv</span>
					<p class="i-code">0xe820</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-deck icon-2x"></p>
					<span class="i-name">.icon-deck</span>
					<p class="i-code">0xe822</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-headphones icon-2x"></p>
					<span class="i-name">.icon-headphones</span>
					<p class="i-code">0xe823</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-mic1 icon-2x"></p>
					<span class="i-name">.icon-mic1</span>
					<p class="i-code">0xe824</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-speaker icon-2x"></p>
					<span class="i-name">.icon-speaker</span>
					<p class="i-code">0xe825</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-volume icon-2x"></p>
					<span class="i-name">.icon-volume</span>
					<p class="i-code">0xe826</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-volume1 icon-2x"></p>
					<span class="i-name">.icon-volume1</span>
					<p class="i-code">0xe827</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-volume2 icon-2x"></p>
					<span class="i-name">.icon-volume2</span>
					<p class="i-code">0xe828</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-volume3 icon-2x"></p>
					<span class="i-name">.icon-volume3</span>
					<p class="i-code">0xe829</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-controls icon-2x"></p>
					<span class="i-name">.icon-controls</span>
					<p class="i-code">0xe82a</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-stop icon-2x"></p>
					<span class="i-name">.icon-stop</span>
					<p class="i-code">0xe82b</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-pause icon-2x"></p>
					<span class="i-name">.icon-pause</span>
					<p class="i-code">0xe82c</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-play icon-2x"></p>
					<span class="i-name">.icon-play</span>
					<p class="i-code">0xe82e</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-forward icon-2x"></p>
					<span class="i-name">.icon-forward</span>
					<p class="i-code">0xe82d</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-reverse icon-2x"></p>
					<span class="i-name">.icon-reverse</span>
					<p class="i-code">0xe830</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-eject icon-2x"></p>
					<span class="i-name">.icon-eject</span>
					<p class="i-code">0xe831</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-note icon-2x"></p>
					<span class="i-name">.icon-note</span>
					<p class="i-code">0xe82f</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-fast-forward icon-2x"></p>
					<span class="i-name">.icon-fast-forward</span>
					<p class="i-code">0xe833</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-shuffle icon-2x"></p>
					<span class="i-name">.icon-shuffle</span>
					<p class="i-code">0xe834</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-fast-reverse icon-2x"></p>
					<span class="i-name">.icon-fast-reverse</span>
					<p class="i-code">0xe835</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-note2 icon-2x"></p>
					<span class="i-name">.icon-note2</span>
					<p class="i-code">0xe836</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-note3 icon-2x"></p>
					<span class="i-name">.icon-note3</span>
					<p class="i-code">0xe839</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-repeat icon-2x"></p>
					<span class="i-name">.icon-repeat</span>
					<p class="i-code">0xe838</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-note4 icon-2x"></p>
					<span class="i-name">.icon-note4</span>
					<p class="i-code">0xe83a</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-note4 icon-2x"></p>
					<span class="i-name">.icon-note5</span>
					<p class="i-code">0xe83b</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-globe icon-2x"></p>
					<span class="i-name">.icon-globe</span>
					<p class="i-code">0xe83c</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-browser icon-2x"></p>
					<span class="i-name">.icon-browser</span>
					<p class="i-code">0xe83d</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-upload icon-2x"></p>
					<span class="i-name">.icon-upload</span>
					<p class="i-code">0xe83e</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-bars icon-2x"></p>
					<span class="i-name">.icon-bars</span>
					<p class="i-code">0xe83f</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-key-down icon-2x"></p>
					<span class="i-name">.icon-key-down</span>
					<p class="i-code">0xe840</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-key-up icon-2x"></p>
					<span class="i-name">.icon-key-up</span>
					<p class="i-code">0xe841</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-key-right icon-2x"></p>
					<span class="i-name">.icon-key-right</span>
					<p class="i-code">0xe842</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-key-left icon-2x"></p>
					<span class="i-name">.icon-key-left</span>
					<p class="i-code">0xe843</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-link icon-2x"></p>
					<span class="i-name">.icon-link</span>
					<p class="i-code">0xe844</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-flag icon-2x"></p>
					<span class="i-name">.icon-flag</span>
					<p class="i-code">0xe845</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-store icon-2x"></p>
					<span class="i-name">.icon-store</span>
					<p class="i-code">0xe846</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-code icon-2x"></p>
					<span class="i-name">.icon-code</span>
					<p class="i-code">0xe847</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-download icon-2x"></p>
					<span class="i-name">.icon-download</span>
					<p class="i-code">0xe848</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-cart icon-2x"></p>
					<span class="i-name">.icon-cart</span>
					<p class="i-code">0xe849</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-cart1 icon-2x"></p>
					<span class="i-name">.icon-cart1</span>
					<p class="i-code">0xe84a</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-share icon-2x"></p>
					<span class="i-name">.icon-share</span>
					<p class="i-code">0xe84b</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-cart2 icon-2x"></p>
					<span class="i-name">.icon-cart2</span>
					<p class="i-code">0xe84d</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-drive icon-2x"></p>
					<span class="i-name">.icon-drive</span>
					<p class="i-code">0xe84c</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-gift icon-2x"></p>
					<span class="i-name">.icon-gift</span>
					<p class="i-code">0xe84e</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-133 icon-2x"></p>
					<span class="i-name"></span>
					<p class="i-code"></span>
	</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-wallet icon-2x"></p>
					<span class="i-name">.icon-wallet</span>
					<p class="i-code">0xe850</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-135 icon-2x"></p>
					<span class="i-name"></span>
					<p class="i-code"></span>
	</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-tag1 icon-2x"></p>
					<span class="i-name">.icon-tag1</span>
					<p class="i-code">0xe852</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-note1 icon-2x"></p>
					<span class="i-name">.icon-note1</span>
					<p class="i-code">0xe854</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-cloud icon-2x"></p>
					<span class="i-name">.icon-cloud</span>
					<p class="i-code">0xe855</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-cloud-rain icon-2x"></p>
					<span class="i-name">.icon-cloud-rain</span>
					<p class="i-code">0xe856</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-cloud-storm icon-2x"></p>
					<span class="i-name">.icon-cloud-storm</span>
					<p class="i-code">0xe857</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-cloud-showers icon-2x"></p>
					<span class="i-name">.icon-cloud-showers</span>
					<p class="i-code">0xe858</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-sunrise icon-2x"></p>
					<span class="i-name">.icon-sunrise</span>
					<p class="i-code">0xe859</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-waterdrop icon-2x"></p>
					<span class="i-name">.icon-waterdrop</span>
					<p class="i-code">0xe85a</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-sunset icon-2x"></p>
					<span class="i-name">.icon-sunset</span>
					<p class="i-code">0xe85b</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-sun icon-2x"></p>
					<span class="i-name">.icon-sun</span>
					<p class="i-code">0xe85c</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-wind icon-2x"></p>
					<span class="i-name">.icon-wind</span>
					<p class="i-code">0xe85d</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-fullmoon icon-2x"></p>
					<span class="i-name">.icon-fullmoon</span>
					<p class="i-code">0xe85e</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-moon1 icon-2x"></p>
					<span class="i-name">.icon-moon1</span>
					<p class="i-code">0xe85f</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-moon2 icon-2x"></p>
					<span class="i-name">.icon-moon2</span>
					<p class="i-code">0xe860</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-heart icon-2x"></p>
					<span class="i-name">.icon-heart</span>
					<p class="i-code">0xe861</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-justify-full icon-2x"></p>
					<span class="i-name">.icon-justify-full</span>
					<p class="i-code">0xe862</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-star icon-2x"></p>
					<span class="i-name">.icon-star</span>
					<p class="i-code">0xe863</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-bell icon-2x"></p>
					<span class="i-name">.icon-bell</span>
					<p class="i-code">0xe864</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-shape icon-2x"></p>
					<span class="i-name">.icon-shape</span>
					<p class="i-code">0xe865</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-crop icon-2x"></p>
					<span class="i-name">.icon-crop</span>
					<p class="i-code">0xe866</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-home icon-2x"></p>
					<span class="i-name">.icon-home</span>
					<p class="i-code">0xe867</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-bell1 icon-2x"></p>
					<span class="i-name">.icon-bell1</span>
					<p class="i-code">0xe868</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-target icon-2x"></p>
					<span class="i-name">.icon-target</span>
					<p class="i-code">0xe869</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-select icon-2x"></p>
					<span class="i-name">.icon-select</span>
					<p class="i-code">0xe86a</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-cards icon-2x"></p>
					<span class="i-name">.icon-cards</span>
					<p class="i-code">0xe86b</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-apps icon-2x"></p>
					<span class="i-name">.icon-apps</span>
					<p class="i-code">0xe86c</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-input-right icon-2x"></p>
					<span class="i-name">.icon-input-right</span>
					<p class="i-code">0xe86d</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-input-left icon-2x"></p>
					<span class="i-name">.icon-input-left</span>
					<p class="i-code">0xe86e</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-input-top-left icon-2x"></p>
					<span class="i-name">.icon-top-left</span>
					<p class="i-code">0xe86f</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-apps1 icon-2x"></p>
					<span class="i-name">.icon-apps1</span>
					<p class="i-code">0xe870</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-output-top-right icon-2x"></p>
					<span class="i-name">.icon-output-top-right</span>
					<p class="i-code">0xe871</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-input-bottom icon-2x"></p>
					<span class="i-name">.icon-input-bottom</span>
					<p class="i-code">0xe872</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-input-top icon-2x"></p>
					<span class="i-name">.icon-input-top</span>
					<p class="i-code">0xe873</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-resize icon-2x"></p>
					<span class="i-name">.icon-resize</span>
					<p class="i-code">0xe874</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-minimize icon-2x"></p>
					<span class="i-name">.icon-minimize</span>
					<p class="i-code">0xe875</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-fullscreen icon-2x"></p>
					<span class="i-name">.icon-fullscreen</span>
					<p class="i-code">0xe876</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-arrow-left icon-2x"></p>
					<span class="i-name">.icon-arrow-left</span>
					<p class="i-code">0xe877</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-arrow-down icon-2x"></p>
					<span class="i-name">.icon-arrow-down</span>
					<p class="i-code">0xe878</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-arrow-right icon-2x"></p>
					<span class="i-name">.icon-arrow-right</span>
					<p class="i-code">0xe879</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-arrow-up icon-2x"></p>
					<span class="i-name">.icon-arrow-up</span>
					<p class="i-code">0xe87a</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-arrow-left1 icon-2x"></p>
					<span class="i-name">.icon-arrow-left1</span>
					<p class="i-code">0xe87b</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-arrow-right1 icon-2x"></p>
					<span class="i-name">.icon-arrow-right1</span>
					<p class="i-code">0xe87c</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-arrow-up1 icon-2x"></p>
					<span class="i-name">.icon-arrow-up1</span>
					<p class="i-code">0xe87d</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-arrow-down1 icon-2x"></p>
					<span class="i-name">.icon-arrow-down1</span>
					<p class="i-code">0xe87e</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-add icon-2x"></p>
					<span class="i-name">.icon-add</span>
					<p class="i-code">0xe87f</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-substract icon-2x"></p>
					<span class="i-name">.icon-substract</span>
					<p class="i-code">0xe880</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-multiply icon-2x"></p>
					<span class="i-name">.icon-multiply</span>
					<p class="i-code">0xe881</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-check icon-2x"></p>
					<span class="i-name">.icon-check</span>
					<p class="i-code">0xe883</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-x icon-2x"></p>
					<span class="i-name">.icon-x</span>
					<p class="i-code">0xe884</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-plus icon-2x"></p>
					<span class="i-name">.icon-plus</span>
					<p class="i-code">0xe886</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-minus icon-2x"></p>
					<span class="i-name">.icon-minus</span>
					<p class="i-code">0xe887</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-arrow-left2 icon-2x"></p>
					<span class="i-name">.icon-arrow-left2</span>
					<p class="i-code">0xe885</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-arrow-up2 icon-2x"></p>
					<span class="i-name">.icon-arrow-up2</span>
					<p class="i-code">0xe888</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-circle-right icon-2x"></p>
					<span class="i-name">.icon-circle-right</span>
					<p class="i-code">0xe889</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-circle-left icon-2x"></p>
					<span class="i-name">.icon-circle-left</span>
					<p class="i-code">0xe88a</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-circle-up icon-2x"></p>
					<span class="i-name">.icon-circle-up</span>
					<p class="i-code">0xe88b</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-circle-down icon-2x"></p>
					<span class="i-name">.icon-circle-down</span>
					<p class="i-code">0xe88c</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-circle-plus icon-2x"></p>
					<span class="i-name">.icon-circle-plus</span>
					<p class="i-code">0xe88d</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-circle-minus icon-2x"></p>
					<span class="i-name">.icon-circle-minus</span>
					<p class="i-code">0xe88e</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-circle-times icon-2x"></p>
					<span class="i-name">.icon-circle-times</span>
					<p class="i-code">0xe88f</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-reload icon-2x"></p>
					<span class="i-name">.icon-reload</span>
					<p class="i-code">0xe890</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-circle-check icon-2x"></p>
					<span class="i-name">.icon-circle-check</span>
					<p class="i-code">0xe891</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-search icon-2x"></p>
					<span class="i-name">.icon-search</span>
					<p class="i-code">0xe892</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-reload1 icon-2x"></p>
					<span class="i-name">.icon-reload1</span>
					<p class="i-code">0xe893</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-zoom-in icon-2x"></p>
					<span class="i-name"/>.icon-zoom-in</span>
					<p class="i-code">0xe894</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-zoom-out icon-2x"></p>
					<span class="i-name">.icon-zoom-out</span>
					<p class="i-code">0xe895</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-cloud-download icon-2x"></p>
					<span class="i-name">.icon-cloud-download</span>
					<p class="i-code">0xe896</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-cloud-upload icon-2x"></p>
					<span class="i-name">.icon-cloud-upload</span>
					<p class="i-code">0xe897</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-clear icon-2x"></p>
					<span class="i-name">.cion-clear</span>
					<p class="i-code">0xe898</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-tag2 icon-2x"></p>
					<span class="i-name">.icon-tag2</span>
					<p class="i-code">0xe899</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-arrow-right2 icon-2x"></p>
					<span class="i-name">.icon-arrow-right2</span>
					<p class="i-code">0xe89a</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-arrow-up2 icon-2x"></p>
					<span class="i-name">.icon-arrow-up2</span>
					<p class="i-code">0xe89b</p>
				</div>
				<div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-arrow-down2 icon-2x"></p>
					<span class="i-name">.icon-arrow-down2</span>
					<p class="i-code">0xe89c</p>
				</div>
				
			</div>
		</section>
	</article>

	<article class="panel panel-default">
		<header class="panel-heading">
			Iconset - Debut UI Weather
		</header>
		<section class="panel-body">
			<div class="row">
				<div title="Code: 0xf000" class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-weather-day-cloudy-gusts icon-2x"></p>
					<span class="i-name">.icon-weather-day-cloudy-gusts</span>
					<p class="i-code">0xf000</p>
				</div>
				<div title="Code: 0xf001" class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-weather-day-cloudy-windy icon-2x"></p>
					<span class="i-name">.icon-weather-day-cloudy-windy</span>
					<p class="i-code">0xf001</p>
				</div>
				<div title="Code: 0xf002" class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-weather-day-cloudy icon-2x"></p>
					<span class="i-name">.icon-weather-day-cloudy</span>
					<p class="i-code">0xf002</p>
				</div>
				<div title="Code: 0xf003" class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-weather-day-fog icon-2x"></p>
					<span class="i-name">.icon-weather-day-fog</span>
					<p class="i-code">0xf003</p>
				</div>
				<div title="Code: 0xf004" class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-weather-day-hail icon-2x"></p>
					<span class="i-name">.icon-weather-day-hail</span>
					<p class="i-code">0xf004</p>
				</div>
				<div title="Code: 0xf005" class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-weather-day-lightning icon-2x"></p>
					<span class="i-name">.icon-weather-day-lightning</span>
					<p class="i-code">0xf005</p>
				</div>
				<div title="Code: 0xf006" class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-weather-day-rain-mix icon-2x"></p>
					<span class="i-name">.icon-weather-day-rain-mix</span>
					<p class="i-code">0xf006</p>
				</div>
				<div title="Code: 0xf007" class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-weather-day-rain-wind icon-2x"></p>
					<span class="i-name">.icon-weather-day-rain-wind</span>
					<p class="i-code">0xf007</p>
				</div>
				<div title="Code: 0xf008" class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-weather-day-rain icon-2x"></p>
					<span class="i-name">.icon-weather-day-rain</span>
					<p class="i-code">0xf008</p>
				</div>
				<div title="Code: 0xf009" class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-weather-day-showers icon-2x"></p>
					<span class="i-name">.icon-weather-day-showers</span>
					<p class="i-code">0xf009</p>
				</div>
				<div title="Code: 0xf010" class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-weather-day-snow icon-2x"></p>
					<span class="i-name">.icon-weather-day-snow</span>
					<p class="i-code">0xf010</p>
				</div>
				<div title="Code: 0xf011" class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-weather-day-sprinkle icon-2x"></p>
					<span class="i-name">.icon-weather-day-sprinkle</span>
					<p class="i-code">0xf011</p>
				</div>
			</div>
			<div class="row">
				<div title="Code: 0xf012" class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-weather-day-sunny-overcast icon-2x"></p>
					<span class="i-name">.icon-weather-day-sunny-overcast</span>
					<p class="i-code">0xf012</p>
				</div>
				<div title="Code: 0xf013" class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-weather-day-sunny-overcast icon-2x"></p>
					<span class="i-name">.icon-weather-day-sunny-overcast</span>
					<p class="i-code">0xf013</p>
				</div>
				<div title="Code: 0xf014" class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
					<p class="icon-weather-day-sunny icon-2x"></p>
					<span class="i-name">.icon-weather-day-sunny</span>
					<p class="i-code">0xf014</p>
				</div>
			</div>
		</section>
	</article>
</section>