<div id="page-heading">
	<h3 class="page-title">Panels</h3>
</div>
<section class="container-fluid">
	<div class="row">
		<div class="col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					Panel default
					<div class="panel-options pull-right">
						<a href="" data-toggle="refresh"><i class="fa fa-refresh"></i></a>
						<a href="" data-toggle="minimize">
							<i class="fa fa-minus"></i>
							<i class="fa fa-plus"></i>
						</a>
						<a href="" data-toggle="close"><i class="fa fa-remove"></i></a>
					</div>
				</div>
				<div class="panel-body">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum ullam maiores, repellat nostrum qui impedit quibusdam, beatae hic dolor vel, aperiam voluptates veritatis laudantium illo exercitationem mollitia provident enim temporibus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quasi cupiditate perferendis nisi ad? Voluptas quasi mollitia aperiam tempora iure minima incidunt perferendis! Esse voluptatibus praesentium nesciunt animi vero, enim. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum vel in voluptates dignissimos temporibus velit eius aliquid distinctio ipsa repellendus dolore sed, veritatis earum, adipisci dicta quia, cum possimus tempore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error qui possimus deleniti ipsa hic neque rerum nemo sunt ad soluta, perferendis quam iure veniam iusto totam officiis molestiae quibusdam aspernatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-success">
				<div class="panel-heading">
					Panel success
					<div class="panel-options pull-right">
						<a href="" data-toggle="refresh"><i class="fa fa-refresh"></i></a>
						<a href="" data-toggle="minimize">
							<i class="fa fa-minus"></i>
							<i class="fa fa-plus"></i>
						</a>
						<a href="" data-toggle="close"><i class="fa fa-remove"></i></a>
					</div>
				</div>
				<div class="panel-body">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum ullam maiores, repellat nostrum qui impedit quibusdam, beatae hic dolor vel, aperiam voluptates veritatis laudantium illo exercitationem mollitia provident enim temporibus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quasi cupiditate perferendis nisi ad? Voluptas quasi mollitia aperiam tempora iure minima incidunt perferendis! Esse voluptatibus praesentium nesciunt animi vero, enim.
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Panel primary
					<div class="panel-options pull-right">
						<a href="" data-toggle="refresh"><i class="fa fa-refresh"></i></a>
						<a href="" data-toggle="minimize">
							<i class="fa fa-minus"></i>
							<i class="fa fa-plus"></i>
						</a>
						<a href="" data-toggle="close"><i class="fa fa-remove"></i></a>
					</div>
				</div>
				<div class="panel-body">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum ullam maiores, repellat nostrum qui impedit quibusdam, beatae hic dolor vel, aperiam voluptates veritatis laudantium illo exercitationem mollitia provident enim temporibus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quasi cupiditate perferendis nisi ad? Voluptas quasi mollitia aperiam tempora iure minima incidunt perferendis! Esse voluptatibus praesentium nesciunt animi vero, enim. 
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="panel panel-info">
				<div class="panel-heading">
					Panel info
					<div class="panel-options pull-right">
						<a href="" data-toggle="refresh"><i class="fa fa-refresh"></i></a>
						<a href="" data-toggle="minimize">
							<i class="fa fa-minus"></i>
							<i class="fa fa-plus"></i>
						</a>
						<a href="" data-toggle="close"><i class="fa fa-remove"></i></a>
					</div>
				</div>
				<div class="panel-body">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum ullam maiores, repellat nostrum qui impedit quibusdam, beatae hic dolor vel, aperiam voluptates veritatis laudantium illo exercitationem mollitia provident enim temporibus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quasi cupiditate perferendis nisi ad? Voluptas quasi mollitia aperiam tempora iure minima incidunt perferendis! Esse voluptatibus praesentium nesciunt animi vero, enim. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo autem dolor aut, vero ad neque repellat commodi officia sequi error tenetur. Accusantium aut similique magni cumque nihil, delectus odio sit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni inventore repellat sapiente soluta, nesciunt illum debitis molestiae modi! Harum, iste porro distinctio. Ipsam animi dolorem unde sed dolorum placeat rem! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<div class="panel panel-warning">
				<div class="panel-heading">Panel warning</div>
				<div class="panel-body">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum ullam maiores, repellat nostrum qui impedit quibusdam, beatae hic dolor vel, aperiam voluptates veritatis laudantium illo exercitationem mollitia provident enim temporibus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quasi cupiditate perferendis nisi ad? Voluptas quasi mollitia aperiam tempora iure minima incidunt perferendis! Esse voluptatibus praesentium nesciunt animi vero, enim. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo autem dolor aut, vero ad neque repellat commodi officia sequi error tenetur. Accusantium aut similique magni cumque nihil, delectus odio sit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni inventore repellat sapiente soluta, nesciunt illum debitis molestiae modi! Harum, iste porro distinctio. Ipsam animi dolorem unde sed dolorum placeat rem! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-danger">
				<div class="panel-heading">Panel danger</div>
				<div class="panel-body">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum ullam maiores, repellat nostrum qui impedit quibusdam, beatae hic dolor vel, aperiam voluptates veritatis laudantium illo exercitationem mollitia provident enim temporibus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quasi cupiditate perferendis nisi ad? Voluptas quasi mollitia aperiam tempora iure minima incidunt perferendis! Esse voluptatibus praesentium nesciunt animi vero, enim.
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					Panel
					<div class="panel-options pull-right">
						<a href="" data-toggle="refresh"><i class="fa fa-refresh"></i></a>
						<a href="" data-toggle="minimize">
							<i class="fa fa-minus"></i>
							<i class="fa fa-plus"></i>
						</a>
						<a href="" data-toggle="close"><i class="fa fa-remove"></i></a>
					</div>
				</div>	
				<div class="panel-body">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto unde ut ad at, harum sunt consectetur eligendi nostrum pariatur esse natus qui dolorum rem minima odio tempore quod magni. Facilis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga reprehenderit, dolorum dolor soluta cumque, deleniti blanditiis eligendi sint numquam ad, hic provident perspiciatis, quaerat architecto rem repellat asperiores vero saepe? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi ad id omnis eaque quod eum necessitatibus amet quasi veniam vel aliquam fugiat voluptatibus, soluta adipisci, sequi aut molestiae vitae exercitationem!
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6"></div>
	</div>
</section>