<div id="page-heading">
	<h3 class="page-title">Typography</h3>
</div>
<section class="container-fluid">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">Headers</div>
				<div class="panel-body">
					<h1>Header #1</h1>
					<h2>Header #2</h2>
					<h3>Header #3</h3>
					<h4>Header #4</h4>
					<h5>Header #5</h5>
					<h6>Header #6</h6>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">Text boldnes</div>
				<div class="panel-body">
					<p class="bolder">Sampla text .bolder style</p>
					<p class="bold">Sampla text .bold style2</p>
					<p class="light">Sampla text .light style</p>
					<p class="">Sampla text default style</p>

				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xlg-6 col-lg-6 col-md-12 col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					Code rendering HTML
				</div>
				<div class="panel-body">
					<pre class="preview">
						<code class="html">
&lt;article class="panel panel-default">
   &lt;header class="panel-heading">
	  This is an example panel
   &lt;/header>
   &lt;section class="panel-body">
	  &lt;table class="table">
		 &lt;thead>
			&lt;tr>
			   &lt;th>Column 1&lt;/th>
			&lt;/tr>
		 &lt;/thead>
	  &lt;/table>
   &lt;/section>
&lt;/article>
						</code>
					</pre>
				</div>
			</div>
		</div>
		<div class="col-xlg-6 col-lg-6 col-md-12 col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					Code rendering CSS
				</div>
				<div class="panel-body">
					<pre class="preview">
						<code class="css" ui-code>
.pika-single {
   z-index: 9999;
   display: block;
   position: relative;
   width: 280px;
   background: #fff;
   border: 1px solid #ccc;
   border-radius: $default_border_radius;
   border-bottom-color: #bbb;
}

.pika-single.is-hidden {
   display: none;
}
						</code>
					</pre>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					Dropcaps
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<p class="dropcap-success">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit natus eaque itaque provident quis qui repudiandae, voluptatum consectetur dolore, incidunt optio? Sequi iste aspernatur facere dolorum expedita praesentium suscipit odio?</p>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<p class="dropcap-primary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae asperiores, id est magnam quam non alias porro perspiciatis quia minus incidunt beatae officiis consequuntur, dolores saepe numquam nobis, animi, ullam.</p>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
							<p class="dropcap-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni nam quos, nulla! Recusandae ipsam nihil totam distinctio iure. Repudiandae modi nisi ullam laborum tenetur quisquam cumque ab quasi excepturi nemo.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<p class="dropcap-danger">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit natus eaque itaque provident quis qui repudiandae, voluptatum consectetur dolore, incidunt optio? Sequi iste aspernatur facere dolorum expedita praesentium suscipit odio?</p>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<p class="dropcap-warning">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae asperiores, id est magnam quam non alias porro perspiciatis quia minus incidunt beatae officiis consequuntur, dolores saepe numquam nobis, animi, ullam.</p>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
							<p class="dropcap-default">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni nam quos, nulla! Recusandae ipsam nihil totam distinctio iure. Repudiandae modi nisi ullam laborum tenetur quisquam cumque ab quasi excepturi nemo.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">List normal</div>
				<div class="panel-body">	
					<ul>
						<li>
							List item 1
							<ul>
								<li>Child list item 1</li>
								<li>Child list item 2</li>
								<li>Child list item 3</li>
								<li>Child list item 4</li>
								<li>Child list item 5</li>
								<li>Child list item 6</li>
							</ul>
						</li>
						<li>List item 2</li>
						<li>List item 3</li>
						<li>List item 4</li>
						<li>List item 5</li>
						<li>List item 6</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">Ordered list</div>
				<div class="panel-body">
					<ol>
						<li>Numerouse list item 1</li>
						<li>Numerouse list item 2</li>
						<li>Numerouse list item 3</li>
						<li>Numerouse list item 4</li>
						<li>Numerouse list item 5</li>
						<li>Numerouse list item 6</li>
						<li>Numerouse list item 7</li>
						<li>Numerouse list item 8</li>
						<li>Numerouse list item 9</li>
						<li>Numerouse list item 10</li>
						<li>Numerouse list item 11</li>
						<li>Numerouse list item 12</li>
					</ol>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">Unstyled list</div>
				<div class="panel-body">
					<ul class="list-unstyled">
						<li>Unstyled list item 1</li>
						<li>Unstyled list item 2</li>
						<li>
							Unstyled list item 3
							<ul>
								<li>Sublist item 1</li>
								<li>Sublist item 2</li>
								<li>Sublist item 3</li>
								<li>Sublist item 4</li>
							</ul>
						</li>
						<li>Unstyled list item 4</li>
						<li>Unstyled list item 5</li>
						<li>Unstyled list item 6
							<ul>
								<li>Sublist item 1</li>
								<li>Sublist item 2</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">Contextual colors</div>
				<div class="panel-body">
					<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam mollitia accusamus soluta, aliquam aut nam possimus eos fugiat voluptates iste repudiandae voluptas voluptatum nostrum adipisci atque maiores perspiciatis. Deleniti, distinctio!</p>
					<p class="text-primary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit in maiores alias quia repudiandae distinctio eos iusto odio vel omnis excepturi aperiam, odit ad impedit nihil, ea atque? Tenetur, veritatis.</p>
					<p class="text-success">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum minus dolore eius in at, expedita porro enim dolor, rerum numquam, dolorum non quam et reprehenderit, pariatur? Esse ut natus maiores!</p>
					<p class="text-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum saepe, soluta nihil sequi nemo, ea eligendi quasi, quibusdam nulla atque obcaecati. Atque voluptas, modi adipisci aut qui! Officiis, fuga, non.</p>
					<p class="text-warning">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos recusandae dolore cum doloremque laboriosam aliquid magni praesentium, placeat. Impedit libero vero, blanditiis doloremque, praesentium iusto unde repellendus ipsam error magnam.</p>
					<p class="text-danger">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos soluta nemo, laborum totam, voluptate quae earum ea eius, reiciendis sint vel nesciunt qui. Natus at, consectetur ratione officiis minus eligendi.</p>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">Contextual colors</div>
				<div class="panel-body">
					<p class="bg-primary" style="padding:10px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere earum fugit suscipit mollitia doloremque sapiente, sit veritatis incidunt, autem qui distinctio ex, perspiciatis quaerat. Officia excepturi inventore animi harum ad.</p>
					<p class="bg-success" style="padding:10px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic pariatur sunt reprehenderit, beatae facere, ducimus sequi vel error deserunt, quasi eum quibusdam. Modi aperiam tempora placeat, soluta assumenda earum maxime.</p>
					<p class="bg-info" style="padding:10px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate explicabo quia, possimus reiciendis ipsam facilis expedita, et quod magni architecto? Assumenda laboriosam necessitatibus quod tempore optio, placeat possimus qui unde.</p>
					<p class="bg-warning" style="padding:10px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda sit possimus autem recusandae saepe qui fugiat aut animi nam at atque sint, eaque et, nulla, consectetur. Eos modi cum aperiam!</p>
					<p class="bg-danger" style="padding:10px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic facilis nam alias, aliquam ea, quod labore vel delectus nihil magni at laboriosam maxime consectetur dolore placeat rem iste libero repellat.</p>
				</div>
			</div>
		</div>
	</div>

	
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					Blockquotes
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<blockquote>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
							</blockquote>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<blockquote>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
								<small>Lorem ipsum test</small>
							</blockquote>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<blockquote class="blockquote-reverse">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
								<small>Lorem ipsum test</small>
							</blockquote>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					Hightlights
				</div>
				<div class="panel-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab <mark>atque nobis quos natus</mark> dolorem laborum officiis esse assumenda, adipisci unde fugiat <mark> corporis provident</mark>, delectus dicta commodi minus ullam vel debitis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat dolorum officia magnam quaerat, consequatur voluptatum delectus voluptatem perferendis expedita, nam maiores nesciunt ducimus. Ratione ducimus excepturi possimus, praesentium aliquam eligendi!</p>
					<p>Lorem <mark> ipsum dolor sit amet</mark>, consectetur adipisicing elit. Animi saepe provident repellendus quisquam placeat praesentium sunt quaerat possimus, laboriosam modi nulla, sed quae consequuntur dolores rem fugiat minima molestias qui! Lorem ipsum dolor sit amet, <mark> onsectetur adipisicing elit. Ex, debitis</mark>, exercitationem! Provident corporis <mark>enim beatae nemo cupiditate aliquam</mark> adipisci ut officiis quibusdam excepturi! Ea vitae quidem perferendis eaque, aliquam minus. Lorem ipsum dolor sit amet, <mark> consectetur adipisicing</mark> elit. Expedita consequuntur distinctio, mollitia a debitis dolore, labore dolorem asperiores officiis laborum dolorum cumque aperiam similique impedit officia, aliquam quibusdam facilis soluta.</p>
				</div>
			</div>
		</div>
	</div>
</section>